extends layout

block content
  .page-header
    h1 Mission Control
  p.lead
    div(role='tabpanel')
      // Nav tabs
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
          a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Custom
        li(role='presentation')
          a(href='#presets', aria-controls='presets', role='tab', data-toggle='tab') Presets
      // Tab panes
      .tab-content
        #home.tab-pane.active(role='tabpanel')
          div
            br
            fieldset
              input(type="text",name="text",value="")#boardInput.form-control
            fieldset
              br
              input(type="submit", name="submit", value="Display Text")#addText.btn.btn-primary
              | &nbsp;
              input(type="submit", name="submit", value="Clear Text")#clearText.btn.btn-danger

        #presets.tab-pane(role='tabpanel')
          br
          div.row
            each preset in presets
              div.col-xs-6.col-md-4
                button(type="button",data-text=preset).preset.btn.btn-primary.btn-lg= preset
                | &nbsp;
