extends layout

block content
  .page-header
    h1 Control Panel
  p.lead
    div(role='tabpanel')
      // Nav tabs
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
          a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Custom
        li(role='presentation')
          a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Presets
      // Tab panes
      .tab-content
        #home.tab-pane.active(role='tabpanel')
          form(action="/", method="post")
          fieldset
            input(type="text",name="text",value="").form-control
          fieldset
            br
            input(type="submit", name="submit", value="Display Text").btn.btn-primary
        #profile.tab-pane(role='tabpanel') ...